@charset "UTF-8";
/*License
  Website Name: Lancz Air Conditioning - Lancz Klíma
  Author: András Rajkai
  Author e-mail: rajkaiandras@gmail.com
  Description: lanczklima.hu website CSS Rules
  Version: 2023.05.20.
  License: Commercial*/
/* 
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Raleway - Extra Light";
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url(../../assets/fonts/Raleway-ExtraLight.ttf);
}
@font-face {
  font-family: "Raleway - Regular";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(../../assets/fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway - Semi Bold";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url(../../assets/fonts/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: "Raleway - Extra Bold";
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: url(../../assets/fonts/Raleway-ExtraBold.ttf);
}
body,
input,
textarea,
button {
  font-family: "Raleway - Regular", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: hsl(0, 0%, 15%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway - Semi Bold", sans-serif;
  font-style: normal;
  margin: 48px 0 24px;
  color: hsl(0, 0%, 15%);
}

h1 {
  font-size: 50px;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 34px;
}

h4 {
  font-size: 20px;
  line-height: 32px;
}

h5 {
  font-size: 18px;
  line-height: 28px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

a {
  color: hsl(0, 0%, 15%);
  transition: all 300ms ease-out;
}
a:hover {
  color: hsl(189, 81%, 64%);
}

a {
  color: inherit;
}
a:hover {
  color: hsl(189, 81%, 64%);
}

b,
strong {
  font-weight: 600;
}

.icon-list .icon-list__item {
  padding-left: 18px;
  margin-bottom: 12px;
  position: relative;
}
.icon-list .icon-list__item:before {
  content: url(../../assets/icons/icon-bullet-symbol.svg);
  position: absolute;
  top: 0;
  left: 0;
}

/* @charset "UTF-8";

// custom properties
@import '../../styles/custom-properties/_variables.scss';
@import '../../styles/typography/_font-faces.scss';

// typography
body,
input,
textarea {
  font-family: 'Raleway - Regular', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $global-clr-txt-graphite;
}

b,
strong {
  font-weight: 600;
  color: $global-clr-txt-graphite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway - Regular', sans-serif;
  font-weight: 800;
  font-style: normal;
  margin: 48px 0 24px;
  color: $global-clr-txt-graphite;
}

h1 + h3,
h2 + h4,
h3 + h5,
h4 + h6 {
  margin-top: 24px;
}

h1 {
  font-size: 50px;
  line-height: 56px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 34px;
}

h4 {
  font-size: 20px;
  line-height: 32px;
}

h5 {
  font-size: 18px;
  line-height: 28px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

ul {
  li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 16px;

    &:before {
      content: '';
      border-radius: 2px;
      width: 0;
      height: 0;
      border: 2px solid;
      color: inherit;
      position: absolute;
      top: 9px;
      left: 3px;
      display: block;
    }
  }
}

ol {
  list-style-type: decimal;
  padding-left: 16px;

  li {
    padding-left: 8px;
    margin-bottom: 16px;
  }
}

.icon-list {
  .icon-list__item {
    list-style-type: none;
    padding-left: 24px;
    position: relative;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      border: none;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

blockquote {
  font-size: 20px;
  line-height: 32px;
  padding: 32px;
  margin: 24px 0;
  background-color: $global-clr-txt-graphite;
  border-radius: 4px;
  color: $global-clr-txt-graphite;
}

.side-highlight-gold {
  line-height: 28px;
  padding-left: 20px;
  position: relative;

  &:before {
    content: '';
    width: 2px;
    height: 100%;
    border-radius: 4px;
    background-color: $global-clr-txt-graphite;
    position: absolute;
    top: 0;
    left: 0;
  }
}

table {
  width: 100%;

  th {
    font-family: 'Raleway - Regular', sans-serif;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    padding-bottom: 16px;
    color: $global-clr-txt-graphite;
  }

  td {
    font-size: 14px;
    line-height: 22px;
    border-top: 1px solid $global-clr-txt-graphite;
    padding: 16px 0;
  }

  th,
  td {
    width: calc(25% - 24px);

    &:not(:first-of-type) {
      text-align: right;
      padding-left: 32px;
    }
  }
}

dl {
  display: flex;
  flex-flow: row wrap;

  dt {
    width: 253px;
    padding: 12px 32px 12px 0;
    font-weight: 700;
    color: $txt-dark-900;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  dd {
    width: calc(100% - 253px - 32px);
    padding: 16px 0;
  }

  dt,
  dd {
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    font-size: 14px;
    line-height: 22p;
    letter-spacing: 0.015em;
  }
}
 */
.btn {
  height: 42px;
  padding: 8px 24px;
  color: hsl(0, 0%, 15%);
  display: inline-block;
  transition: all 300ms ease-out;
}
.btn.dark-mode {
  color: hsl(0, 0%, 100%);
}
.btn.dark-mode:hover, .btn.dark-mode:focus {
  color: hsl(189, 81%, 64%);
}
.btn:hover, .btn:focus {
  color: hsl(189, 81%, 64%);
}

.btn--outline {
  border: 1px solid hsl(189, 81%, 64%);
  border-radius: 8px;
  color: hsl(189, 81%, 64%);
}
.btn--outline:hover, .btn--outline:focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(189, 81%, 64%);
}

.btn--filled {
  border: 1px solid transparent;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(189, 81%, 64%);
  transition: all 300ms ease-out;
  cursor: pointer;
  /* &:disabled {
    opacity: 0.7;
    cursor: default;

    &:hover {
      color: white;
    }

    &:active {
      transform: scale(1);
    }
  } */
}
.btn--filled:hover, .btn--filled:focus {
  border: 1px solid hsl(189, 81%, 64%);
  color: hsl(189, 81%, 64%);
  background-color: transparent;
}
.btn--filled:active {
  transform: scale(0.975);
}

*,
:before,
:after {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: hsl(0, 0%, 100%);
}
body.disable-scrolling {
  overflow-y: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
body #root.dark-mode {
  background-color: hsl(0, 0%, 15%);
}/*# sourceMappingURL=shared.css.map */