@charset "UTF-8";

/*
  License

  Website Name: Lancz Air Conditioning - Lancz Klíma
  Author: András Rajkai
  Author e-mail: rajkaiandras@gmail.com
  Description: lanczklima.hu website CSS Rules
  Version: 2023.05.20.
  License: Commercial
*/

// Normalize - CSS Reset by Eric Meyer
@import '../normalize/_normalize.scss';

// Typography
@import '../typography/_font-faces.scss';

// Custom Variables
@import '../custom-properties/_variables.scss';

// Buttons
@import '../buttons/_buttons.scss';

// General Styles
*,
:before,
:after {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Raleway - Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $global-clr-txt-graphite;
  background-color: $global-clr-white;

  #root {
    &.dark-mode {
      background-color: $global-clr-graphite;
    }
  }
}
