@charset 'UTF-8';

// custom properties
@import '../../styles/custom-properties/_variables.scss';

// price offer styles
.PriceOffer {
  width: 100%;

  .price-offer-container {
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    padding: 24px;
    margin: 0 auto;
  }

  .dark-mode {
    color: $global-clr-txt-white;
  }
}
