@charset "UTF-8";

// Lancz Air Conditioning App Styles
.LanczAC {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;

  .main-content {
    flex-grow: 1;
    background-image: url('../../assets/images/hero-image-1440x768-unsplash.com_spacejoy.webp');
    background-size: cover;
  }
}
