@charset 'UTF-8';

// custom properties
@import '../../styles/custom-properties/_variables.scss';

// price offer form styles
.PriceOfferForm {
  width: 100%;
  max-width: 640px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 16px;
  grid-template-areas:
    'name'
    'phone'
    'email'
    'subject'
    'info'
    'submit';
  position: relative;
  grid-area: form;
  justify-self: center;

  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 16px;
    grid-template-areas:
      'name name phone phone'
      'email email subject subject'
      'info info info info'
      'submit submit . .';
  }

  @media (min-width: 1024px) {
    align-self: end;
  }

  .input--full-name {
    grid-area: name;
  }

  .input--phone-number {
    grid-area: phone;
  }

  .input--e-mail {
    grid-area: email;
  }

  .input--offer-subject {
    grid-area: subject;
  }

  .input--offer-information {
    grid-area: info;
  }

  .input--submit {
    grid-area: submit;
  }

  input,
  select {
    height: 60px;
    padding: 16px;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    box-shadow: $global-shadow;

    &:focus {
      border: 2px solid $global-clr-design-blue;
    }
  }

  textarea {
    height: 180px;
    padding: 16px;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    box-shadow: $global-shadow;

    &:focus {
      border: 2px solid $global-clr-design-blue;
    }
  }

  textarea {
    resize: none;
  }

  .frame-decoration {
    display: none;
    width: calc(100% + 260px);
    height: calc(100% + 34px);
    border: 2px solid $global-clr-design-blue;
    border-radius: 8px;
    background: transparent;
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: -1;

    @media (min-width: 1024px) {
      display: block;
    }
  }
}
