@charset "UTF-8";

// Custom Properties - CSS Variables
@import '../../styles/custom-properties/_variables.scss';

// Main Header Styles
.Header {
  width: 100%;
  max-width: 1280px;
  height: 90px;
  padding: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  .header__desktop-nav {
    .desktop-nav-inner {
      display: flex;
      flex-flow: row nowrap;
    }
  }

  .header__theme-picker {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
