@charset "UTF-8";

// Custom Properties - CSS Variables
@import '../../styles/custom-properties/_variables.scss';

// Main Header Styles
.Header {
  width: 100%;
  max-width: 1280px;
  height: 74px;
  padding: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  .header__logo {
    svg:has(use[href='#logo-full-name']) {
      width: 175px;
      height: 28px;
    }

    svg:has(use[href='#logo-monogram']) {
      width: 32px;
      height: 28px;
    }
  }

  .header__dark-mode-toggler {
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: hsla(0, 0, 0%, 0.1);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: $global-transition;

    &.dark-mode {
      background-color: hsla(0, 0, 100%, 0.1);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
