@charset "UTF-8";

// custom properties
@import '../../styles/custom-properties/_variables.scss';

// main footer styles
.MainFooter {
  width: 100%;

  .main-footer-container {
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
  }

  .dark-mode {
    color: $global-clr-txt-white;
  }
}
