// Button Styles
.btn {
  padding: 8px 24px;
  color: $global-clr-txt-graphite;
  transition: $global-transition;

  &.dark-mode {
    color: $global-clr-txt-white;

    &:hover,
    &:focus {
      color: $global-clr-txt-design-blue;
    }
  }

  &:hover,
  &:focus {
    color: $global-clr-txt-design-blue;
  }
}

.btn--outline {
  border: 1px solid $global-clr-design-blue;
  border-radius: 8px;
  font-family: 'Raleway - Regular';
  color: $global-clr-txt-design-blue;
  transition: $global-transition;

  &:hover,
  &:focus {
    color: $global-clr-txt-white;
    background-color: $global-clr-design-blue;
  }
}

.btn--filled {
  background-color: $global-clr-design-blue;
  border-radius: 8px;
}
