// Button Styles
.btn {
  padding: 8px 24px;
  color: $global-clr-txt-white;

  &:hover {
    color: $global-clr-txt-design-blue;
  }
}

.btn--outline {
  border: 2px solid $global-clr-design-blue;
  border-radius: 8px;
  font-family: 'Raleway - Semi Bold';
  color: $global-clr-txt-design-blue;

  &:hover {
    background-color: $global-clr-design-blue;
    color: $global-clr-txt-white;
  }
}

.btn--filled {
  background-color: $global-clr-design-blue;
  border-radius: 8px;
}
